# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: go vet
      run: go build -v ./...

    - name: Install gofumpt
      run: go install mvdan.cc/gofumpt@latest

    - name: Run gofumpt
      run: |
        # -l: list unformatted files
        # -d: show formatting diffs
        # -e: produce non-zero exit code if there are any formatting errors
        gofumpt -l -d -e .
      
